
div.container
            ul.col-md-12.row
                a(href="/")
                    li.col-md-4 Home
                a(href="/maps")
                    li.col-md-4 Google Maps
                a(href="/youtube")
                    li.col-md-4 Youtube

                    