script.
  key='#{key}'
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  title Youtube Search
  
  meta(name='author' content='name')
  meta(name='description' content='description here')
  meta(name='keywords' content='keywords,here')
  link(rel='stylesheet' href='stylesheet.css' type='text/css')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")

body
  div.jumbotron 
    div.container
      h1 Search Here
    include includes/header.pug
div
  input#search(type="text")
div
  button#submit(type="submit") Search
.youtubeItems
  div.row
    div.col-sm-3
      a(id="video0", href="")
        img.card-img-top0#card
    div.col-sm-3
      a(id="video1", href="")
        img.card-img-top1#card
    div.col-sm-3
      a(id="video2", href="")
        img.card-img-top2#card
    div.col-sm-3
      a(id="video3", href="")
        img.card-img-top3#card
    div.col-sm-3
      a(id="video4", href="")
        img.card-img-top4#card
    div.col-sm-3
      a(id="video5", href="")
        img.card-img-top5#card
    div.col-sm-3    
      a(id="video6", href="")
        img.card-img-top6#card
    div.col-sm-3
      a(id="video7", href="")
        img.card-img-top7#card
    div.col-sm-3
      a(id="video8", href="")
        img.card-img-top8#card
    div.col-sm-3
      a(id="video9", href="")
        img.card-img-top9#card

    





script(src='//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' type='text/javascript')
script(src='/youtube.js')