
body{
    background-image: url('pretty-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.jumbotron{
    color: navy !important;
    background-color: rgba(14, 211, 211, 0.4) !important;
    
}
#first{
    height: 100px;
}
img{
    height: 100px;
}

 #map {
    width: 550px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
 
 }
#search{
    margin-left: 42%;
    padding: 10px;
}
#submit{
    margin-left: 46%;
    padding: 10px;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
li{
    font-size: 20px;
}